fastapi==0.73.0
fastapi-utils==0.2.1
python-dotenv==0.19.2
uvicorn==0.17.3
wgconfig==0.2.2
tortoise-orm==0.18.1
click==8.0.3
aerich==0.6.2
wgconfig==0.2.2
pyroute2==0.7.2
pythonping==1.1.1
requests==2.27.1